<template>
  <div id="app">
	<img src="./assets/idioke.png" style="heigh:auto;width:100%;"/>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
#pic {
  background-repeat: no-repeat; 
  background-position: center top;
  background-size: contain;
}
</style>
