<template>
  <div class="Posts">
    <el-row :gutter="10" type="" justify="center">

      <el-col :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 12, offset: 6}" :xl="{span: 12, offset: 6}" style="padding:5px;">
        <el-row v-for="a in posts.slice(-1)">
         <div v-html="a.content"/>
         </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown' 
import { mapState } from 'vuex'

export default {
  name: 'About',
  metaInfo () {
    return {
      title: 'About',
    }
  },
  components: {
    VueMarkdown
  },
  methods: {
    handleChange(val) {
        console.log(val);
    },    
  },      
  created: function(){
      console.log('created ran')
      this.$store.dispatch('posts/getPosts')
  },

  computed: mapState({
    isAuth: state => state.auth.token,
    posts: state => state.posts.posts,
  }),
}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
  color: #228170; 
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #228170;
}
.cpeople {
  border: 0px #000 solid;
  border-radius: 25px;
  padding: 0px 5px 25px 5px;
  margin: 15px;
}
</style>
