<template>
 <div>
    <el-row :gutter="22" :offset="1">
    <el-col :gutter="16" :offset="4">
    <h1><a href="/" >CultureClap</a></h1>
       <form class="login" @submit.prevent="login">
         <label>User name</label>
         <input required v-model="username" type="text" placeholder="Username"/>
         <br/><br/>
         <label>Password</label>
         <input required v-model="password" type="password" placeholder="Password"/>
         <br/><br/>
         <button type="submit">Login</button>
       </form>
     </el-col>
   </el-row>
 </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import {AUTH_REQUEST} from '../store/actions/auth'
import { mapState } from 'vuex'

export default { 
  components: {
    VueMarkdown
  },
  created: function(){
      console.log('created ran')
      this.$store.dispatch('posts/getSocial')
  },
    computed: mapState({
    menu: state => state.posts.menu,
    social: state => state.posts.social,
  }),

  methods: {
   login2: function () {
     console.log(this.username, this.password)
     const { username, password } = this
     console.log('stuff', username, password)
     this.$store.dispatch('obtainToken', { username, password }).then(() => {
       this.$router.push('/')
     })
   },

   login: function () {
   const { username, password } = this
   this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
     this.$router.push('/')
   })
 }
  },



}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
  color: #228170; 
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #228170;
}
.cpeople {
  border: 0px #000 solid;
  border-radius: 25px;
  padding: 0px 5px 25px 5px;
  margin: 15px;
}

i {
  color: #ff5733;
}
</style>
