<el-row>
  <p>
    Good day,
    <br/>
    <br/> Thank you for opening yourself up to what follows:
  </p>
  <p>
    As our culture awakens to the depth of the disparities present in our society, it is being noted that financial stability has arguably been systemically witheld from certain members of society. Finding myself among such individuals has been an awakening of its own; as I must also recognize the privileges I have been afforded. What follows is the manifestation of these dueling forces into what I believe is a viable path to personal financial freedom, community empowerment and greater access to opportunities for myself and others.
  </p>
  <h2 style="text-align: center;">The Plan</h2>
  <p>
    <a href="https://www.dreamfreely.org" target="_blank">DreamFreely</a>, an international boutique development and consultation firm, will take on 4 Equity Investors for $8,000 each, totalling $32,000. Half will be dispersed in 2018, and the remainder after a 6-month investor review. In exchange for your investment you will recieve a 5% stake in DreamFreely, a debt-free LLC which has been incorporated since 2010 in Minnesota. This opportunity will not be presented again for DreamFreely; though we may seek investors for individual projects and products, as the team agrees is reasonble.
  </p>
  <p>
    DreamFreely itself is already invested in a broad, and expanding, assortment of retail opportunities from education to media to tourism. We have built our way into these markets by providing web development at minimal upfront costs, and equity-for-trade. By being able to provide resources which eliminate costs such as server hosting and basic maintenance, we are able to find high potential clients and focus on their growth, of which we become a part.
  </p>
  <p>
    <br/>
  </p>
  <el-collapse @change="handleChange">
    <el-collapse-item>
      <template slot="title">
        <h2>How your money will be used:</h2></template>
      <p>
        The primary tools of DreamFreely are a computer and the internet. In addition to this, a motorcycle will be purchased, and prepared for distance travel. There is a spiritual component to all that we do, and part of my time here in Colombia is about recovering a lost sense of health. To these ends, I will commit my self to work-aways in exchange for room and board. Many of these work-aways request digital help as well. Providing physical labor, which will double as exercise in the morning, combined with digital support; I will have the remainder of my time available to work and play as balance necessitates.
      </p>
      <p>
        Living in this manner I will reduce my cost of living immensely by exchanging physical and digital labor for a place to sleep and food to eat. When I do need money, I will have access to it, though I will be able to focus with a sense of security on the tasks at hand. Furhermore, by reducing my cost of living, the time can be afforded to build each of these projects with the respect and care necessary to build them into the fountains they can become.
      </p>
      <p>
        I once had the dream of living every moment of my life towards the unified purpose of my growth, by my standards. This is the realization of that opportunity. While I build websites, I can develop real life networks in my country of birth, and help communities around the world grow as well. And at this same time, I can build the capacity to safely and respectfully make myself available for my daughter's conversation.
      </p>
    </el-collapse-item>
  </el-collapse>
  <el-collapse @change="handleChange">
    <el-collapse-item>
      <template slot="title">
        <h2>Personal Debt:</h2></template>
      <p>
        My present personal debts consist of approximately $70,000 in Federal Student loans, and approximately $600 in Amazon Debt; no more. The student loan repayment has been negated by my sustenance beneath the poverty threshold. The Amazon debt has been ignored since arriving in Colombia, as a lesser worry in light of more pressing concerns. In the spirit of transparency, such is my current financial position in this regard.
      </p>
    </el-collapse-item>
  </el-collapse>
  <el-collapse @change="handleChange">
    <el-collapse-item>
      <template slot="title">
        <h2>Budget Breakdown:</h2></template>
      <img src="/static/xr150.png" width="325px" style="padding:0px;float:left;">
      <a href="http://motos.honda.com.co/todo-terreno/xr-150l" target="_blank">2018 Honda XR150L</a> $2500, rounding up to $3000 for pannier and electrical upgrades, helmet and license
      <br/>
      <br/>
      <b>Gas Costs:</b>
      <br/> $3.50 / gal
      <br/> Averaging 70 miles per gallon
      <br/> 5 gallons per week
      <br/> 350 miles per week
      <br/> $910 rounded up to $1000 gas budget
      <br/>
      <p>
        This is a generous budget. The engine is rated to provide upwards of 120 miles per gallon going a consistent 30 miles per hour. The likelihood of actually driving 350 miles per week is small. The addional $90 has been added on to simply round the number, again erring on the side of caution. If these funds are not needed here, they can be applied elsewhere if necessary, providing an additional financial buffer.
      </p>
      $3000 for the bike +
      <br/> $1,000 x 3 years for gas
      <br/> = $6,000 over the course of 3 years
      <br/>
      <br/> Adding another $2,000 per year for additional food, phone and travel expenses
      <br/>
      <br/> Lastly, $1,000 per year will be budgeted for health insurance
      <br/>
      <br/> The realized <i>Year 1</i> cost would be $3,000 plus $1,000 dollars for a gasoline budget. Additionally $2,000 dollars will be budgeted for the phone bill, and other travel incidentals, plus $1,000 for health insurance. This yields a <i>$7,000 Year 1 upfront cost</i>, with an approximate <i>$4,000 cost of living per year</i> afterwards.
      <br/>
      <br/> At the end of <i>Year 3</i>, after a total estimated cost of $15,000, <i>approximately $17,000 will remain</i>, to either, repay investors, or keep myself, as hopefully we are starting to realize the profits we sought.
      </p>
    </el-collapse-item>
  </el-collapse>
  <br/>
  <br/>
  <h3>The Projects</h3>
  <el-collapse @change="handleChange">
    <el-collapse-item>
      <template slot="title">
        <h2>CultureClap.com:</h2></template>
        <h3>Research & Development</h3>
      <b>Approximate time to maturity: 120</b>
      <br/>
      <a href="htt://www.cultureclap.com" target="_blank">CultureClap.com</a>
      <p>
        I will grow this personal website into a travel and minimal-living lifestyle blog. While it is aesthetically basic at present, the underlying structure is incredibly malleable and scaleable. I have been afforded the opportunity to learn some tricks to "game" platforms such as Instagram and Pinterest to drive traffic to sites. Monetization can be realized a number of ways, from affiliate product listings to digital products (guides, tutorials, art), as well as advertising. Building upon the success of our other products, I hope to elevate this brand to leverage sponsorships, and eventually return to writing and speaking.
      </p>
      <p>
        As my aim is to also reduce my carbon foot-print, ergo this blog will keep up-to-date records of my expenditures, monetary and caloric. This feature will then be replicated into an accounting component for any subseqent project, and duplicated into a mobile app for myself to ease record maintenance.
      </p>
      <p>
        <blockquote>
          <el-collapse @change="handleChange">
            <el-collapse-item>
              <template slot="title">
                <h2>Individual Accounts</h2></template>
                30 hours
              <p>The hurdle here is to create User Tokens, that are refreshed at a consistent rate. This has been accomplished and the proof-of-concept will soon be published. The applications listed below are precursors to the application of this advancement to MnActivist</p>
            </el-collapse-item>
            <el-collapse-item>
              <template slot="title">
                <h2>Accounting</h2></template>
                30 hours
              <p>
                This is the creation of a full-life accounting application, that will be extensible. It will included the ability to document monetary, caloric and time expenditures. The largest obstacle is building the database architecture.
              </p>
            </el-collapse-item>
            <el-collapse-item>
              <template slot="title">
                <h2>Android Application</h2></template>
                 30 hours
              <p>
                By making this into a personal phone application for myself, exclusively, I will be better enabled to track, a document and blog my adventures. Investors, and necessary parties will be privy to more detailed information than the general public.
              </p>
            </el-collapse-item>
            <el-collapse-item>
              <template slot="title">
                <h2>Events & Locations</h2></template>
                30 hours
              <p>
                In addition to tracking the aforementioned items, CC will have a component which tracks my physical location as well. We will utilize GooglePlaces to do this, and it will be a forerunner to facets of VenueCheckUp
              </p>
            </el-collapse-item>
            <el-collapse-item>
              <template slot="title">
                <h2>Social Media</h2></template>
                30 hours
              <p>
                API calls will be built to Twitter, Instagram, Medium, and others; to ease content proliferation. All of these systems will be applied to subsequent projects.
              </p>
            </el-collapse-item>
          </el-collapse>
        </blockquote>
      </p>
    </el-collapse-item>
    <el-collapse-item>
      <template slot="title">
        <h2>ScreamFreely.Org:</h2></template>
        <h3>Public Testing</h3>
      <p>
        <a href="https://www.screamfreely.org" target="_blank">ScreamFreely</a> is a non-profit organization that was founded in 2008, and has a host of projects beneath it as well. These projects are not to be monetized for profit, though they serve as a foundation for DreamFreely's work. For DreamFreely's purposes, SF provides both a laboratory for new technology, as well as a candidate pool for future employees.
      </p>
      <p>
        The primary benefit of focusing on the non-profit for 30 hours per week over the next 18 months is for a discount on student loan repayment each year for working at a non-profit. In addition, by being able to stay beneath the poverty-line for this year and next if necessary, I am able to elongate my runaway by saving monies in these nuanced ways. This furthers the utility of your investment and stabilizes the path towards the returns sought by all.
      </p>
      <p>
        From a technology aspect, SF provides an opportunity to do progressive work furthering how technology is used to nurture communities. Being the unique individual that I am, we will begin where others tend to end, with the organization of user interaction. I will implement machine learning sparingly at first, and mostly for analysis. Instead, we will build a structure with guided pathways for interaction that <i>lessen the opportunity for hostile engagement</i>.
      </p>
      <blockquote>
        <el-collapse @change="handleChange">
          <el-collapse-item>
            <template slot="title">
              <h2>MnActivist</h2></template>
            <b>Approximate time to maturity: 360 hours</b>
            </br>
            <a href="https://www.MnActivist.org" target="_blank">MnActivist.Org:</a>
            <p>
              <el-collapse @change="handleChange">
                <el-collapse-item>
                  <template slot="title">
                    <h2>Individual Accounts</h2></template>
                    30 hours
                  <p>
                    Building upon CultureClap's work with individual accounts, the next step here will be to implement various levels of authentication. We will need to have different profiles for Users, Maintanence, Administrationand Superusers. This will require the alteration of a core platform component. Though while not exceedingly difficult, time for mistakes is being alloted.
                  </p>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">
                    <h2>Organization Accounts </h2></template>
                    30 hours
                  <p>
                    After Individual Accounts are secured, Organizational accounts will add two more authentication profiles (Organizational Admin Level 1, Organizational Admin Level 2). In addition, the necessary dev chain (API call to User Interaction) will need to be built.
                  </p>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">
                    <h2>I/O Profiles</h2></template>
                    30 hours
                  <p>
                    In addition to providing information about events, I am collecting information about individual offices, officials, and organizations. There are two profiles to be made, one for individuals, and another for organizations (which will also serve offices). Database objects will be expanded and two dev-chains built.
                  </p>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">
                    E-mail and social media</template>
                    30 hours
                  <p>
                    For each of the aforementioned profiles, I have a designated email address through which I collect and organize emails. This dataset will be combined with the collection of social media for each profile. The script to process the email data is 80% built. What remains is to add documention and duplicate for non-governmental entities.
                  </p>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">
                    <h2>Policy Collection</h2></template>
                      60 hours
                  <p>
                    I also aim to collection complete information about policy. This will require considerable database planning. I will be adding another database at this juncture, that will provide GPS, elevation, and relationships for cities, counties, legislative districts, and states. This will allow me to track policy at each of these levels. How best to architect this, is what will take time.
                  </p>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">
                    <h2>Census Data Collection </h2></template>
                    60 hours
                  <p>
                    Scripts have already been written to obtain this information, what remains is to associate this information, in real-time through user-interaction, the ability to manipulate this information according to user-chosen inputs.
                  </p>
                </el-collapse-item>
                <el-collapse-item>
                  <template slot="title">
                    <h2>Data Visualization</h2></template>
                    120 hours
                  <p>
                    Bringing all of this together, what remains is to allow users to visual datasets. I will be using D3JS to do this, and it will be the last step in the completion of Version 2.
                  </p>
                </el-collapse-item>
              </el-collapse>
              You've already seen the web application, and probably the phone application too. Next we will be adding individual and organizational accounts. There are existing organizations wanting to be a part of a pilot project when these features are available, who are willing to pay for the opportunity. While all of the technology used to build these features is <i>directly transferable to all of our other platforms</i>.
              <br/>
              <br/>Additionally, we are able to port all of these upgrades to the other states concurrently,
              <a href="https://caactivist.org" target="_blank">California</a>,
              <a href="https://caactivist.org" target="_blank">Colorado</a>,
              <a href="https://caactivist.org" target="_blank">Georgia</a>,
              <a href="https://caactivist.org" target="_blank">Illinois</a>,
              <a href="https://caactivist.org" target="_blank">New York</a> &
              <a href="https://caactivist.org" target="_blank">Texas</a>, as well.
            </p>
            <p>
              The broad applicability these platforms provide is building name recognition for our organization and products. Notable CEOs, Executive Directors, and public officials from across the country are following us at MnActivist and CultureClap.
            </p>
          </el-collapse-item>
          <el-collapse-item>
            <template slot="title">
              <h2><a href="htt://www.mpdcomments.org" target="_blank">PDComments.org</a></h2></template>
            <b>Approximate time to maturity:</b>
             120 hours
            </br>
            <p>Sort Database 30</p>
            <p>Translate to Vue 30</p>
            <p>Build Phone Application 60</p>
            <p>
              RateMyLandlord, RateMyTeacher, and now, rate your police officer. This is admittedly a more precarious venture, though we think we are best equipped to walk this road. Beyond building a brand, or expanding name-recognition, this is about using technology to direcly help keep communities safer by building more equitable and communicative relations with policy enforcement officials.
            </p>
          </el-collapse-item>
          <el-collapse-item>
            <template slot="title">
              <h2>Volunteering in COL</h2></template>
            <p>
              After teaching English to youths in Comuna 8 here in Medellin, I've been asked to help direct the programming for a larger effort to provide educational activities to youth across Medellin. This dovetails into conversations BG and I have had regarding cross-cultural educational opportunities for both Colombians and Americans. Though I digress, save to say this participation occurs under the SF umbrella, and will ask less of my technical support, and more organizing and planning support. I've met others who do similar work, and I plan to participate in this venture while on the road, and returning to Medellin every month or so. The larger project of Revolucion Naranjada extends beyond Medellin and is centered on building activities which uplift the education and dreams of Colombian youth.
            </p>
          </el-collapse-item>
          <el-collapse-item>
            <template slot="title">
              <h2>SF Core Team</h2></template>
            <p>ScreamFreely also provides an initial core team of support for all aspects of the development and product path. Parts of this team are transferable to DreamFreely's efforts.</p>
            <ul>
              <li>
                <b><i>Tech Support:</i> MP</b>
                <p>MP is employed by the IT department at the University of Minnesota, and received a degree in the mid-90's from the University of Wisconsin Eau Claire, in computer science. He is familiar with scaleable deployments, and the finer points of computer science. He is uniquely adept in the comprehensiveness of his technical thought, and is continually pushing our development to be considerate of what is next. In this manner, our applications are able to maintain technical pace, and thus stay secure, and efficient for our clients.</p>
              </li>
              <li>
                <b><i>Academic Support:</i> MS</b>
                <p>MS is also employed at the University of Minnesota, currently as a lecturer of statistics in the school of Public Health. As I move into building machine learning tools, the statistical efficacy of my algorithms need to be able to pass scientific credibility. MS is accredited, able and willing to provide this.</p>
              </li>
              <li>
                <b><i>Stateside Support</i> KDDD, CH</b>
                <p>KDDD is a married couple of musicians and organizers. KD is currently working on multiple campaigns within Hennepin County and quickly becoming a player herself. Her husband DD is a musican as well; through their musical projects, and extended collective, they are well connected within the Twin Cities music scene. KD will become the face of MnActivist, and ScreamFreely. She has already started to meet with organizations regarding how our platform might better serve them.
                  <br/>
                  <br/>KDDD will also be assuming my stateside mailing address.</p>
                <p>CH will be assuming power of attorney on my behalf in the USA. He is someone I've known since my youth, and can trust in this capacity. By keeping each role separate, mail reception and POA, I am able to lessen the burden of my absence, while building a multi-faceted local team. As time and finances allows, each of these individuals is willing and able to take on the growth their respective roles may ask of them.</p>
              </li>
              <li>
                <b><i>Organizational Support:</i> BT, BG</b>
                <p>BT is the executive director of a well-known local non-profit which builds community leaders. She has numerous relations with local foundations, and is a powerful voice in the Minnesota organizing community. I am incredibly blessed to have her personal support of my work. She has openly stated her organization's desire to pay money to participate in a pilot project for MnActivist. Which is pretty awesome!</p>
                <p>BG is a policy director for another well-known local non-profit. I am blessed to have his deep personal support as well. He has provided both networking connections as well as critical feedback for MnActivist's growth. As we move forward his support and voice, like BT's will turn heads, and move feet, to our applications.</p>
              </li>
            </ul>
          </el-collapse-item>
        </el-collapse>
      </blockquote>
      <p>
        Concluding this overview of ScreamFreely, I would like to restate that the objective of ScreamFreely is to provide me primary full-time employ for the next 18+ months. By focusing my efforts towards realizing full-time (30hr per week) employment here, that provides taxable income, I am able to save money on existing student loan debt in the long run. All of the technology built within ScreamFreely, is directly transferable to DreamFreely's products, which I will continue to build concurrently. While ScreamFreely's projects are structured for my impending departure from them.
      </p>
    </el-collapse-item>
    <el-collapse-item>
      <template slot="title">
        <h2>VenueCheckUp:</h2></template>
        <h3>Commercial Deployment</h3>
      <b>Approximate time to mature MVP: 60 hours</b> 
      </br>
      <a href="http://www.VenueCheckUp.com" target="_blank">VenueCheckUp:</a>
      <p>
        <img src="/static/venuecheck.jpg" width="75px" style="margin-top:-15px;padding-right:10px;float: left;"> VCU is a platform through which musicians will be able to rate the venues they play, and maintain a personal, and shared, record of these venues. We will be an exclusive domain open by invitational only. Monetization will be realized through advertising and eventually through the facilitation the booking of shows between musicians and venues. The social media domains have been secured. It needs to be rebuilt beyond a minimum viable product and then promoted through existing channels, herein mentioned and unmentioned. Though we are able to go international quickly.
      </p>
      <p>Convert to Django 10</p>
      <p>Build Vue Front-end 20</p>
      <p>Build Phone Application 30</p>
    </el-collapse-item>
    <el-collapse-item>
      <template slot="title">
        <h2>ColombianCollective:</h2></template>
                <h3> Into the Future</h3>
              <p>This will be a directory for tourists wishing to give back to Colombia. Either through volunteering, or making sure each of their expenditures are helping Colombians directly. Our webportal is a beginning of a much larger discussion with two Swiss entreprenuers who own a <a href="http://www.hostelrango.com/" target="_blank">hostel</a> and <a href="https://www.odysseycolombia.com/" target="_blank">motorcycle rental company</a> here in Medellin. Energized and ambitious, DreamFreely is excited to be co-piloting this project. Monetization will be realized through a form of cryptocurrency we will be developing. There is a larger foreign opportunity here, due to their relationship with the Swiss Ambassador to Colombia, and Switzerland's investment interests in the country.</p>
            </el-collapse-item>

            <el-collapse-item>
              <template slot="title">
                <h2>DigiSnaxx(x):</h2></template>
      <h3>Evolution of the Activist</h3>
      <p>This is where the Onion can meet the Economist, while being connected to the *Activist's databases (we'll have open-APIs), to serve media content built that is locally aimed and sourced. While *Activist sites will always be free, the XXX option is built into DigiSnaxx. And while one does not aim to have pornography, the use of explicit language and dangerous conversation can exist behind a paywall, etc.</p>
    </el-collapse-item>
    <el-collapse-item>
      <template slot="title">
        <h2>DigiCount:</h2></template>
      <h3>Evolution of the ArtistAccounting</h3>
      <p>
        A few things I forgot to mention, the lawyer I am meeting with in the next weeks, as well as my account from a few years ago; both work at well-respected firms in Minneapolis that are geared to artists and social organizations. I have maintained enough of a relationship with the account, so-as to discuss the creation of an app that would assist artist in maintaining tax-efficient accounts. I put the name DigiCount, as a placeholder for the idea.
      </p>
    </el-collapse-item>
    <!--
                  <el-collapse-item>        
                    <template slot="title"><h2>Broken Compass</h2></template>
                      <p>
                      <img src="/static/bcompass-sm.png" width="150px" style="margin-top:-15px;padding-right:10px;float:left;">
                          Broken Compass is an artist collective based out of the Western suburbs of Chicago, Illinois. Pursuing their creavity recreationally, it is not without regard to building it's foundation. The collective has already yielded three books, one of poems, a novel, and a children's book. Now able to also create music, and video content, they aim to spread their work and hearts as far and wide as possible. 
                      </p>
                      <ul>
                        <li>
                          <b><a href="https://www.WeAreBrokenCompass.com" target="_blank">WeAreBrokenCompass.com</a></b>
                          <p>
                              The hub for all things BrokenCompass, this site will present work from their collective members and aggregate other content they wish to promote. Monetization will be realized here through the sale of media and art products.
                          </p>
                        </li>
                        <li>
                          <b><a href="https://www.RossBlog.buzz" target="_blank">RossBlog.buzz</a></b>
                          <p>A fiery writer, on the mend from serving in America's armed forces in both Bosnia and Iraq, DreamFreely has helped Ross nurture his love for the written word. We are now helping him expand into podcasting, and exploring other ways to monetize his love for writing and holding space for difficult dialogue.</p>
                        </li>
                       <li>
                          <b>AtomsForKids.Com</b>
                          <p>Broken Compass collective member Garret Rhea is also a scientist who wrote a children's book. DreamFreely helped him first find a way to animate his children's book, and now we will be building a web and phone application to translate his children's book into as many languages as he wishes. Monetization will be realized through donation, as the book will be made globally available in an ever-increasing number of languages though web and phone applications, and downloadable PDF documents.</p>
                        </li>
                        <li>
                          <b>the Future</b>
                          <p>We do not know what lays beyond the horizon with Broken Compass, but we feel assured there is more they will soon be able to add to our portfolio.</p>
                        </li>
                      </ul>
                  </el-collapse-item>  

                  -->
  </el-collapse>
  <p>
    This concludes the overview of DreamFreely's current projects and investments.
  </p>
  <p>
    Thank you for taking the time to read these words. As an investor, I would seek your active conversation and participation in growing these endeavors, comensurate with your availability, interest and expertise. Our opportunity is international, while the entry cost greatly reduced by circumstance. Beyond an opportunity to continue amending the inequities of history, there is a very real opportunity for profits to be realized by all. I hope that you will join me with an investment in this journey, the fringe benefits will be exhilarating, I promise!
    <br/>
    <br/> May Light and Laughter find you always,
  </p>
  <p>
    <img src="/static/sig.png" width="150px" style="padding:0px;">
    <div style="padding-left:60px;margin-top:-40px;">Canin Apriori</div>
    <br/>
  </p>
</el-row>
