<template>

  <div class="Posts">
    <el-row :gutter="10" class="row-bg" justify="center">

      <el-col :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 18, offset: 3}" :xl="{span: 18, offset: 3}">
        <el-row style="margin: 10px;border: #000 0px solid; border-radius:25px; background-color: #fff; opacity: 0.9;padding:5px;">
        <center>
         <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->

         <div :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" class="hidden-md-and-up">
            <iframe width="320" height="180" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

          <div class="hidden-sm-and-down" :md="{span: 22, offset: 1}" :lg="{span: 22, offset: 1}" :xl="{span: 22, offset: 1}">
            <iframe width="560" height="315" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
         <div>
            Title: {{ video.title }}
            <br/>
            Artist: {{ video.artist }}
         </div>
         <div v-for="v in video.video_verse" style="margin:15px;padding-top:10px;">
            <b>{{ v.shortname}}</b>
            <vue-markdown>{{v.lyrics}}</vue-markdown>
              <audio controls style="padding:10px;">
                <source :src="v.audio" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
         </div>
         </center>
         </el-row>
      </el-col>



<!-- SIDE BAR

      <el-col :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="6" :xl="6" style="padding-top: 20px;text-align: center;">
        <div style="border: #000 0px solid; border-radius:25px; background-color: #fff; opacity: 0.9;padding:5px;">
        <h3 style="margin-bottom:5px;">Latest Podcast</h3>
          <el-row :span="16" v-for="s in episodes.slice(0,1)">
          <center>
          <img :src="s.original_image" width="100%"/>
          <b style="text-align: center;margin-bottom:3px;"><a :href="'/podcast/' + s.slug">{{s.title}}</a></b>
           <br/>

           <i style="text-align: center;margin-bottom:3px;">{{s.subtitle}}</i>
           <br/>
              <audio controls style="padding:10px;">
                <source :src="s.enclosure_set[0].url" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <br/>

            <p>{{s.description}}</p>
           </center>
           </el-row>
           </div>
           <br/>

          
          <div style="border: #000 0px solid; border-radius:25px; background-color: #fff; opacity: 0.9; padding:5px;">
          <h3>Past Posts</h3>
          <el-row :span="16" v-for="s in posts.slice(3,-1)">
           <b style="text-align: center;margin-bottom:3px;"><a :href="'/post/' + s.slug">{{s.title}}</a></b> <br/><br/>
           </el-row>
           </div>
           <br/>

           <div style="border: #000 0px solid; border-radius:25px; background-color: #fff; opacity: 0.9;padding:5px;">
          <h3>Sponsors</h3>
          <el-row :span="16" v-for="s in sponsors">
           <b style="text-align: center;margin-bottom:3px;"><a :href="s.link">{{s.name}}</a></b>
           <center><i>X</i></center>
           </el-row>
         </div>
      </el-col> 
-->

    </el-row>
  </div>

</template>

<script>

import {AUTH_LOGOUT} from '../store/actions/auth'
import {AUTH_REQUEST} from '../store/actions/auth'
import VueMarkdown from 'vue-markdown'
import { mapState } from 'vuex'


export default { 
  data () {
    return {
      username: '',
      password: '',   
      form: {}, 
      requestSong: false,  
    }
  },
  metaInfo () {
    return {
      title: 'Home',
    }
  }, 
  components: {
   VueMarkdown
  },
  created: function(){
      console.log('created ran')
      this.$store.dispatch('posts/getVideo', this.$route.params.slug)
    //  this.$store.dispatch('posts/getSponsors')
  },

  computed: mapState({
    isAuth: state => state.auth.token,
    video: state => state.posts.video,
    sponsors: state => state.posts.sponsors,
    screenname: state => state.user.username,
    
  }),

  methods: {
  },
}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
  color: #228170; 
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #228170;
}
.cpeople {
  border: 0px #000 solid;
  border-radius: 25px;
  padding: 0px 5px 25px 5px;
  margin: 15px;
}

i {
  color: #ff5733;
}
</style>
