<template>

  <div class="Posts">

    <div class="overlay" v-if="overlay">
      <center>
        <a href="#/main#"  @click="overlay = !overlay">
          <img src="../../static/idioke.png" style="heigh:auto;width:50%;"/>
        </a>
        <br/>
        <h3><a href="#/requests">solicitudes abiertas</a></h3>
        <h3><a href="#/videos">todos videos</a></h3>
        <h3><a href="#/about">sobre</a></h3>
        <!-- <h3><a href="#/" @click="logout">Logout</a></h3> -->
      </center>
    </div>

  <el-row :gutter="24" type="flex" class="row-bg" v-if="!overlay">
    <el-col :span="18" :offset="1" justify="left" style="padding-top:10px;">
        <h4>
            
        </h4>
      <br/>
    </el-col>
    <el-col :span="7" :offset="0" justify="center" >
      <a href="#/main#"  @click="overlay = !overlay">
        <img src="../../static/idioke.png" style="heigh:auto;width:100%;"/>
      </a>
    </el-col>
  </el-row>

    <el-row :gutter="10" class="row-bg" justify="center">
      <el-col :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 12, offset: 6}" :xl="{span: 12, offset: 6}">

      <center>

      <br/></br/>
        <a href="#/english">Practice Spanish instead</a>
      <br/><br/>

      </center>
      </el-col>
    </el-row>

    <el-row :gutter="10" class="row-bg" justify="center">


      <el-col v-if="requesting == false" :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 12, offset: 6}" :xl="{span: 12, offset: 6}">

        <center>

        <el-form ref="form" :model="form" label-width="120px"  label-position="top" size="large">
          <h1>Buscar usando el nombre de la canción o artista:</h1>
          <el-form-item label="">
            <el-input v-model="songSearch" placeholder="¿Cuál es tu canción favorita en inglés?"></el-input>
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="onSearch(songSearch)">Buscar</el-button>
            <el-button type="danger" @click="requesting = true">Solicitar una canción</el-button>
          </el-form-item>
        </el-form>

        </center>
      </el-col>



      <el-col v-if="requesting == true" :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 12, offset: 6}" :xl="{span: 12, offset: 6}">
        <center>

        <el-form ref="form" :model="form" label-width="150px" label-position="top">

          <el-form-item label="Artista / Banda">
            <el-input v-model="form.artist" placeholder="Michael Jackson"></el-input>
          </el-form-item> 

          <el-form-item label="Nombre de la canción">
            <el-input v-model="form.title" placeholder="They Don't Care About Us"></el-input>
          </el-form-item>

          <el-form-item label="Enlace Video (opcional pero útil)">
            <el-input v-model="form.video_link" placeholder="https://www.youtube.com/watch?v=QNJL6nfu__"></el-input>
            <p>Solo aceptamos enlaces de YouTube</p>
          </el-form-item> 

          <el-form-item>
            <el-button type="primary" @click="onRequest(form)">Solicitarla</el-button>
            <el-button type="primary" @click="requesting = false">X</el-button>
          </el-form-item>
        </el-form>

        </center>

      </el-col>



      <el-col v-if="searched == false && requesting == false" :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 18, offset: 3}" :xl="{span: 18, offset: 3}">
        <el-row v-for="video in videos.slice(0,1)" style="margin-bottom: -25px;margin-top:30px;">
          <center>
            <b>Video más reciente:</b>
          </center>
        </el-row>

        <el-row v-for="video in videos.slice(0,1)" style="margin: 10px;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;"><a :href="'#/video/' + video.slug">{{video.artist}}: {{video.title}}</a></h2>
           <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->

           <div :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" class="hidden-md-and-up">
            <iframe width="320" height="180" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

          <div class="hidden-sm-and-down" :md="{span: 22, offset: 1}" :lg="{span: 22, offset: 1}" :xl="{span: 22, offset: 1}">
            <iframe width="560" height="315" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

           <div v-for="v in video.video_verse.slice(0,1)">
              <vue-markdown :source=v.lyrics />
                <audio controls style="padding:10px;">
                  <source :src="v.audio" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
           </div>

          </center>
         </el-row>
      </el-col>


      <el-col v-if="searched == true" :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 18, offset: 3}" :xl="{span: 18, offset: 3}">


        <el-row v-for="video in videos.slice(0,3)" style="margin: 10px;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;"><a :href="'#/video/' + video.slug">{{video.artist}}: {{video.title}}</a></h2>
           <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->

           <div :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" class="hidden-md-and-up">
            <iframe width="320" height="180" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

          <div class="hidden-sm-and-down" :md="{span: 22, offset: 1}" :lg="{span: 22, offset: 1}" :xl="{span: 22, offset: 1}">
            <iframe width="560" height="315" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

           <div v-for="v in video.video_verse.slice(0,1)">
              <vue-markdown :source=v.lyrics />
                <audio controls style="padding:10px;">
                  <source :src="v.audio" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
           </div>

          </center>
         </el-row>

         <el-row v-if="searched == true" v-for="video in videos.slice(3,-1)" style="margin: 10px;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;"><a :href="'#/video/' + video.slug">{{video.artist}}: {{video.title}}</a></h2>
           <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->

           <div v-for="v in video.video_verse.slice(0,1)">
              <vue-markdown>{{v.lyrics}}</vue-markdown>
                <audio controls style="padding:10px;">
                  <source :src="v.audio" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
           </div>
          </center>
         </el-row>
      </el-col>

    </el-row>
  </div>

</template>

<script>

import {AUTH_LOGOUT} from '../store/actions/auth'
import {AUTH_REQUEST} from '../store/actions/auth'
import VueMarkdown from 'vue-markdown'
import { mapState } from 'vuex'


export default { 
  data () {
    return {
      username: '',
      password: '', 
      songSearch: '',  
      form: {}, 
      c: false,  
      searched: false,
      requesting: false,
      survey: false,
      overlay: false,
    }
  },
  metaInfo () {
    return {
      title: 'Home',
    }
  }, 
  components: {
   VueMarkdown
  },
  created: function(){
      console.log('created ran')
      this.$store.dispatch('posts/getVideos', '0')
    //  this.$store.dispatch('posts/getSocial')
    //  this.$store.dispatch('posts/getSponsors')
  },

  computed: mapState({
    isAuth: state => state.auth.token,
    posts: state => state.posts.posts,
    videos: state => state.posts.videos,
    parcel: state => state.posts.parcel,
    social: state => state.posts.social,
    sponsors: state => state.posts.sponsors,
    screenname: state => state.user.username,
  }),

  methods: {
   onSearch(term) {
      console.log('btn push');
      this.searched = true;
      this.$store.dispatch('posts/searchVideos', term);
    },
    requestSong() {
      this.requesting = true;
      this.searched = false;
      this.form = {};
    },
    onRequest(vidAsk) {
      console.log('btn push', vidAsk);
      if ("undefined" === typeof(vidAsk["video_link"])){
        vidAsk.video_link = 'https://idioke.com'
      } 
      this.$store.dispatch('posts/requestVideo', vidAsk)
      .then((response)=>{
        console.log('Video response', response)
        this.$message({
        message: "¡Éxito! tenemos tu pedido. Gracias.",
        type: 'success',
        duration: '5000',
        });
      })
      .catch(error => {
        console.log('error');
        this.$message({
          message: "Huy! Algo salió mal. Mensaje idioke@dreamfreely.org",
          type: 'error',
          duration: '5000',
        });
    });
      this.requestSong = false;
      this.form = {};
    },
  },
}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
  color: #228170; 
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #228170;
}
.cpeople {
  border: 0px #000 solid;
  border-radius: 25px;
  padding: 0px 5px 25px 5px;
  margin: 15px;
}

i {
  color: #ff5733;
}
</style>

<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
  #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
  #mergeRow-gdpr {margin-top: 20px;}
  #mergeRow-gdpr fieldset label {font-weight: normal;}
  #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style>