<template>

  <div class="Posts">
    <div class="overlay" v-if="overlay">
      <center>
        <a href="#/requests#"  @click="overlay = !overlay">
          <img src="../../static/idioke.png" style="heigh:auto;width:50%;"/>
        </a>
        <br/>
        <h3><a href="#/main#">inicio</a></h3>
        <h3><a href="#/videos">todos videos</a></h3>
        <h3><a href="#/about">sobre</a></h3>
        <!-- <h3><a href="#/" @click="logout">Logout</a></h3> -->
      </center>
    </div>

  <el-row :gutter="24" type="flex" class="row-bg" v-if="!overlay">
    <el-col :span="18" :offset="1" justify="left" style="padding-top:10px;">
        <h4>
            
        </h4>
      <br/>
    </el-col>
    <el-col :span="7" :offset="0" justify="center" >
      <a href="#/requests#"  @click="overlay = !overlay">
        <img src="../../static/idioke.png" style="heigh:auto;width:100%;"/>
      </a>
    </el-col>
  </el-row>


    <el-row :gutter="10" class="row-bg" justify="center" v-if="!overlay">

      <el-col :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 18, offset: 3}" :xl="{span: 18, offset: 3}">

          <el-row v-for="video in requests.slice(0,3)" style="margin: 10px;border: #000 0px solid; border-radius:25px; background-color: #fff; opacity: 0.9;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;">{{video.artist}}: {{video.title}}</h2>

           <!--
             <div :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" class="hidden-md-and-up">
              <iframe width="320" height="180" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <div class="hidden-sm-and-down" :md="{span: 22, offset: 1}" :lg="{span: 22, offset: 1}" :xl="{span: 22, offset: 1}">
              <iframe width="560" height="315" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          -->
          
          </center>
        </el-row>

        <el-row v-for="video in requests.slice(3,-1)" style="margin: 10px;border: #000 0px solid; border-radius:25px; background-color: #fff; opacity: 0.9;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;">{{video.artist}}: {{video.title}}</h2>
           <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->
          </center>
        </el-row>

      </el-col>
    </el-row>
  </div>

</template>

<script>

import {AUTH_LOGOUT} from '../store/actions/auth'
import {AUTH_REQUEST} from '../store/actions/auth'
import VueMarkdown from 'vue-markdown'
import { mapState } from 'vuex'


export default { 
  data () {
    return {
      username: '',
      password: '',   
      form: {}, 
      requestSong: false,  
      overlay: false,
    }
  },
  metaInfo () {
    return {
      title: 'Home',
    }
  }, 
  components: {
   VueMarkdown
  },
  created: function(){
      console.log('created ran')
      this.$store.dispatch('posts/getRequests')
    //  this.$store.dispatch('posts/getSponsors')
  },

  computed: mapState({
    isAuth: state => state.auth.token,
    requests: state => state.posts.vidasks,
    sponsors: state => state.posts.sponsors,
    screenname: state => state.user.username,
    
  }),

  methods: {
  },
}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
  color: #228170; 
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #228170;
}
.cpeople {
  border: 0px #000 solid;
  border-radius: 25px;
  padding: 0px 5px 25px 5px;
  margin: 15px;
}

i {
  color: #ff5733;
}
</style>
