<template>
  <div class="hello">
   <el-row :span="24" class="overlay text-center" v-show="overlay" justify="center" type="flex">
    <center>
      <h3 v-for="s in social" :span="1" :offset="0" style="text-align: center;margin: 15px 0px 15px 0px;">
          <a :href="s.link"> <i :class="[s.iclass + ' fa-' + s.icon + ' fa-1x']"></i> {{ s.platform }}</a> 
        </h3>
    </center>
  </el-row>

  <el-row :gutter="10" :offset="2">
    <el-col :lg="4":sm="12" :xs="12" :offset="1" style="margin: 5px;padding: 15px;border-radius:25px; background-color: #fff; opacity: 0.9;">
        <router-link :to="{ path: '/', exact: true }">
          <img src="../../static/idioke.png" width="75"/>
        </router-link>

    </el-col>

    <el-col class="hidden-md-and-up" :sm="9" :xs="9" :offset="1" style="margin-top: 15px;padding: 25px;text-align: right">
       <a href="#/main#"  @click="overlay = !overlay">
        <i class="fas fa-ellipsis-h fa-2x"></i>
      </a>
    </el-col>

     <el-row class="auxRow hidden-md-and-down" :push="6" :span="12">
           <el-col style="text-align: right; padding-top: 20px; padding-right: 20px;">
<!--
              <div style="padding-top:10px;">
                <div>
                <span  v-if="isAuth != ''" style="text-align: right;margin: 0px 20px 0px 20px;"><b><a href="#" @click="logout">Logout</a></b></span>
                  <el-form :inline="true" class="" v-if="isAuth == ''" >
                    <el-form-item>
                      <el-input size="mini" required v-model="username" type="text" placeholder="Username"/>
                    </el-form-item>
                    <el-form-item>
                      <el-input size="mini" required v-model="password" type="password" placeholder="Password"/>
                    </el-form-item>
                    <el-form-item>
                      <el-button size="mini" type="submit" @click="login(username, password)">Login</el-button>
                    </el-form-item>
                  </el-form>
                </div>
              </div>
-->
            </el-col>
      </el-row>


  </el-row>
</div>
</template>


<script>

import {AUTH_LOGOUT} from '../store/actions/auth'
import {AUTH_REQUEST} from '../store/actions/auth'
import { mapState } from 'vuex'
import { mapMutations } from 'vuex'

export default {
  data () {
    return {
      username: '',
      password: '',  
      platform: '',  
      overlay: false,  
    }
  },
  components: {
  },
  created: function(){
      console.log('created ran')
      this.$store.dispatch('posts/getSocial')
  },

  computed: mapState({
    isAuth: state => state.auth.token,
    // menu: state => state.posts.menu,
    social: state => state.posts.social,
    screenname: state => state.user.username,
  }),

  methods: {
    login: function (u,p) {
       const { username, password } = this
       this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
       mapState({screenname: state => state.user.username,})
        location.reload()
        this.password = ''
       })
       .catch((err) => {
       console.log(err)
        this.password = ''
       })
     },

    logout: function () {
    this.$store.dispatch(AUTH_LOGOUT)
    .then(() => {
      location.reload()
     // this.$router.push('/')
    })
    },
 
  },
}
</script>



<style scoped>
.hello {
  height: 100px;
  border: 0px #fff solid;
  border-radius: 15px;
  padding: 5px;
  
}
.baseBorder {
    border: 0px #000 solid;
    border-radius: 4px;
    padding: 5px;
}
.auxRow {
#    margin-top: -25px;
    overflow: hidden;
}

.auxRow i{
  padding: 10px 10px 0px 10px;
}

.push-item {
    text-align: right;
    margin: -8px;
}
.el-col.mi {
    padding: 15px 5px 10px 5px;
}
h1, h2 {
  font-weight: normal;
  color: #000000;	
}

i {
  color: #ff5733;
}

a {
  color: #228170;
#  color: #fff;
  text-decoration: none;
}

</style>
