<template>

  <div class="Posts">
    <el-row :gutter="10" class="row-bg" justify="center">

      <el-col v-if="requesting == false" :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 12, offset: 6}" :xl="{span: 12, offset: 6}">

        <center>

        <el-form ref="form" :model="form" label-width="120px"  label-position="top" size="large">
          <el-form-item label="Buscar por canción o nombre de artista">
            <el-input v-model="songSearch" placeholder="Buscar por canción o nombre de artista"></el-input>
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="onSearch(songSearch)">Busca</el-button>
            <el-button type="primary" @click="requesting = true">Solicita</el-button>
          </el-form-item>
        </el-form>

        </center>
      </el-col>



      <el-col v-if="requesting == true" :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 12, offset: 6}" :xl="{span: 12, offset: 6}">
        <center>

        <el-form ref="form" :model="form" label-width="150px" label-position="top">

          <el-form-item label="Artista / Banda">
            <el-input v-model="form.artist" placeholder="Michael Jackson"></el-input>
          </el-form-item> 

          <el-form-item label="Nombre de canción">
            <el-input v-model="form.title" placeholder="They Don't Care About Us"></el-input>
          </el-form-item>

          <el-form-item label="Enlace Video">
            <el-input v-model="form.video_link" placeholder="https://www.youtube.com/watch?v=QNJL6nfu__"></el-input>
            <p>Solo aceptamos enlaces de YouTube</p>
          </el-form-item> 

          <el-form-item label="Enlace por letras">
            <el-input v-model="form.lyric_link" placeholder="https://genius.com/Michael-jackson-they-dont-care-about-us-lyrics"></el-input>
          </el-form-item>
                

          <el-form-item>
            <el-button type="primary" @click="onRequest(form)">Solicitarla</el-button>
            <el-button type="primary" @click="requesting = false">X</el-button>
          </el-form-item>
        </el-form>

        </center>

      </el-col>



      <el-col v-if="searched == false && requesting == false" :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 18, offset: 3}" :xl="{span: 18, offset: 3}">
        <el-row v-for="video in videos.slice(0,1)" style="margin-bottom: -25px;margin-top:30px;">
          <center>
            <b>Video más reciente:</b>
          </center>
        </el-row>

        <el-row v-for="video in videos.slice(0,1)" style="margin: 10px;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;"><a :href="'/video/' + video.slug">{{video.artist}}: {{video.title}}</a></h2>
           <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->

           <div :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" class="hidden-md-and-up">
            <iframe width="320" height="180" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

          <div class="hidden-sm-and-down" :md="{span: 22, offset: 1}" :lg="{span: 22, offset: 1}" :xl="{span: 22, offset: 1}">
            <iframe width="560" height="315" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

           <div v-for="v in video.video_verse.slice(0,1)">
              <vue-markdown>{{v.lyrics}}</vue-markdown>
                <audio controls style="padding:10px;">
                  <source :src="v.audio" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
           </div>

          </center>
         </el-row>
      </el-col>


      <el-col v-if="searched == true" :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" :md="{span: 22, offset: 1}" :lg="{span: 18, offset: 3}" :xl="{span: 18, offset: 3}">


        <el-row v-for="video in videos.slice(0,3)" style="margin: 10px;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;"><a :href="'/video/' + video.slug">{{video.artist}}: {{video.title}}</a></h2>
           <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->

           <div :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" class="hidden-md-and-up">
            <iframe width="320" height="180" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

          <div class="hidden-sm-and-down" :md="{span: 22, offset: 1}" :lg="{span: 22, offset: 1}" :xl="{span: 22, offset: 1}">
            <iframe width="560" height="315" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

           <div v-for="v in video.video_verse.slice(0,1)">
              <vue-markdown>{{v.lyrics}}</vue-markdown>
                <audio controls style="padding:10px;">
                  <source :src="v.audio" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
           </div>

          </center>
         </el-row>


        <el-row v-for="video in videos.slice(0,3)" style="margin: 10px;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;"><a :href="'/video/' + video.slug">{{video.artist}}: {{video.title}}</a></h2>
           <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->

           <div :xs="{span: 22, offset: 1}" :sm="{span: 22, offset: 1}" class="hidden-md-and-up">
            <iframe width="320" height="180" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

          <div class="hidden-sm-and-down" :md="{span: 22, offset: 1}" :lg="{span: 22, offset: 1}" :xl="{span: 22, offset: 1}">
            <iframe width="560" height="315" :src="['https://www.youtube.com/embed/' + video.link + '?rel=0']" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>

           <div v-for="v in video.video_verse.slice(0,1)">
              <vue-markdown>{{v.lyrics}}</vue-markdown>
                <audio controls style="padding:10px;">
                  <source :src="v.audio" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
           </div>

          </center>
         </el-row>

         <el-row v-for="video in videos.slice(3,-1)" style="margin: 10px;padding:5px;">
          <center>
           <h2 style="text-align: center;margin-bottom:3px;"><a :href="'/video/' + video.slug">{{video.artist}}: {{video.title}}</a></h2>
           <!-- <i>publicado: {{video.pub_date | moment("DD/MM/YY")}}</i> -->

           <div v-for="v in video.video_verse.slice(0,1)">
              <vue-markdown>{{v.lyrics}}</vue-markdown>
                <audio controls style="padding:10px;">
                  <source :src="v.audio" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
           </div>
          </center>
         </el-row>
      </el-col>

    </el-row>
  </div>

</template>

<script>

import {AUTH_LOGOUT} from '../store/actions/auth'
import {AUTH_REQUEST} from '../store/actions/auth'
import VueMarkdown from 'vue-markdown'
import { mapState } from 'vuex'


export default { 
  data () {
    return {
      username: '',
      password: '', 
      songSearch: '',  
      form: {}, 
      c: false,  
      searched: false,
      requesting: false,
    }
  },
  metaInfo () {
    return {
      title: 'Home',
    }
  }, 
  components: {
   VueMarkdown
  },
  created: function(){
      console.log('created ran')
      this.$store.dispatch('posts/getVideos')
    //  this.$store.dispatch('posts/getSocial')
    //  this.$store.dispatch('posts/getSponsors')
  },

  computed: mapState({
    isAuth: state => state.auth.token,
    posts: state => state.posts.posts,
    videos: state => state.posts.videos,
    parcel: state => state.posts.parcel,
    social: state => state.posts.social,
    sponsors: state => state.posts.sponsors,
    screenname: state => state.user.username,
    
  }),

  methods: {
   onSearch(term) {
      console.log('btn push');
      this.searched = true;
      this.$store.dispatch('posts/searchVideos', term);
    },
    requestSong() {
      this.requesting = true;
      this.searched = false;
      this.form = {};
    },
    onRequest(vidAsk) {
      console.log('btn push', vidAsk);
      if ("undefined" === typeof(vidAsk["video_link"])){
        vidAsk.video_link = 'https://idioke.com'
      } 
      if ("undefined" === typeof(vidAsk["lyric_link"])){
        vidAsk.lyric_link = 'https://idioke.com'
      } 
      this.$store.dispatch('posts/requestVideo', vidAsk);
      this.requestSong = false;
      this.form = {};
    },
  },
}
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
  color: #228170; 
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #228170;
}
.cpeople {
  border: 0px #000 solid;
  border-radius: 25px;
  padding: 0px 5px 25px 5px;
  margin: 15px;
}

i {
  color: #ff5733;
}
</style>
