<template>
  <div class="index">
  <el-row :gutter="10" :offset="0">
       <router-view name="header"/>
  </el-row>

<!--
  <el-row :gutter="24" justify="center"  class="hidden-lg-and-up" style="margin: 0px;padding: 10px 0px 10px 0px;border-radius:25px; background-color: #fff; opacity: 0.9;">
          <center>
            <span v-for="s in social" style="text-align: right;padding: 10px 20px 10px 10px;">
              <v-touch tag="a" v-on:press="nLink(s.link)" v-on:tap="mplatform = s.platform" >
                <i :class="[s.iclass + ' fa-'  + s.icon + ' fa-2x']"></i>
              </v-touch> 
            </span> 

            <br/></br>

            <span style="color: #000"><b>{{mplatform}}</b></span>
 
          </center> 

  </el-row>  
-->

  <el-row :gutter="10" :offset="0">
       <router-view name="main"/>  
  </el-row>

<!--
   <el-row :gutter="10" justify="center"  class="hidden-lg-and-up" style="margin: 10px;padding: 10px;border-radius:25px; background-color: #333; opacity: 0.9;">
      <center>
          <el-form :inline="true" class="" v-if="isAuth == ''" >
              <el-input size="medium" required v-model="username" type="text" placeholder="Username"/>
              <br/>
              <el-input size="medium" required v-model="password" type="password" placeholder="Password"/>
              <br/><br/>
              <el-button size="medium" type="submit" @click="login(username, password)">Login</el-button>
          </el-form>
      </center> 

    </el-row> 
-->         
  </div>
</template>

<script>
import {AUTH_LOGOUT} from '../store/actions/auth'
import {AUTH_REQUEST} from '../store/actions/auth'
import { mapState } from 'vuex'

export default {
  name: 'Splash',
  metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'idioke',
      // all titles will be injected into this template
      titleTemplate: '%s | idioke'
    },
  data () {
    return {
      username: '',
      password: '',  
      mplatform: 'Tap for Info | Press to Travel',    
    }
  },
  created: function(){
      this.$store.dispatch('posts/getSocial')
  },
  computed: mapState({
    isAuth: state => state.auth.token,
    social: state => state.posts.social,
  }),
  methods: {
    login: function (u,p) {
       const { username, password } = this
       this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
        mapState({screenname: state => state.user.username,})
        this.$store.dispatch('posts/getPosts')
      //  mapState({posts: state => state.posts.posts,})
        this.$router.push('/')
       })
     },

    logout: function () {
      this.$store.dispatch(AUTH_LOGOUT)
        .then(() => {
          this.$router.push('/')
        })
    },
  nLink: function (link) {
      console.log(link)
      window.location.assign(link);
       
     },
  },
}
</script>


<style>
h1, h2 {
  font-weight: normal;
  color: #42b983;	
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

i {
  color: #ff5733;
}
</style>
